.MnemonicPhrase {
  
}

.MnemonicPhrase .Content {
    padding: 15px;
}

.MnemonicPhrase .Phrase--item {
    color: blue;
    font-weight: bolder;
    font-size: 1.3em; 
}

.MnemonicPhrase .Phrase--item > span {
    border-radius: 50%;
    border: 2px solid black;
    display: inline !important;
}

.Phrase--index {
    border: 1px solid black;
    border-radius: 99%;
}

.MnemonicPhrase .padding {
    padding: 1em;
}

.MnemonicPhrase .Button--container > .Button {
    margin: 0 auto;
    margin-top: 10px;
}

.MneminicPhrase .Button--container {
    flex-direction: column;
    flex: 1;
    display: flex;
}

.pointer {
    cursor: pointer;
    
}