.GetStarted {
  
}

.GetStarted > .Content {
  padding: 10px;
  flex: 1;
  flex-direction: column;
  display: flex;
}

.GetStarted--button-container {
  text-align: center;
}

.GetStarted--button-container > .Button {
  margin: 0 auto;
  margin-top: 30px;
}
