#root {
  height: 100%;
}

.App {
  overflow: hidden;
  /*padding: 20px;*/
  height: 100%;
  /* background-color: #F9F9F9; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.Content {
  min-height: 504px;
  padding: 0 10px;
}
